<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h5>Courses</h5>
<ul>
	<% @user.courses.each do |course| %>
		<li><%= link_to course.name, course %></li>
	<% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
