<div class="well">
  <%= link_to ts.course.name, ts.course %> <br>
  <%= link_to ts.name+" "+ts.deadline.to_formatted_s(:rfc822), ts %>
  <table>
    <tr>
  <% ts.tasks.each do |t| %>
    <td class="task-<%= t.submission_state(current_user) %>"><%= t.taskno %></td>
  <% end %>
    </tr>
    <tr>
    <% ts.tasks.each do |t| %>
      <td class="task-<%= t.submission_state(current_user) %>">
        <%= hidden_field_tag("taskstate[#{t.id}]", "undone", {id: "taskstate[#{t.id}]_hidden"}) %>
        <%= check_box_tag("taskstate[#{t.id}]", 'done', t.done_by?(current_user.id)) %>
      </td>
    <% end %>
  </tr>
</table>
</div>
