
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<% if current_user and @attendance.new_record?%>
	<%= form_for(@attendance) do |f| %>
		<%= f.hidden_field :course_id %>
		<%= f.submit value:"Join course", class:"btn btn-primary" %>
	<% end %>
<% end %>
<% if current_user and !@attendance.new_record?%>
	<%= form_for(@attendance, method: "delete") do |f| %>
		<%= f.hidden_field :course_id %>
		<%= f.submit value:"Leave course", class:"btn btn-danger" %>
	<% end %>
<% end %>
<% if current_user %>
  <%= link_to "Add task set", new_course_task_set_path(course_id:@course.id), class:"btn btn-primary" %>
<% end %>

<br />

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
